body {
  font-family: Arial;
  line-height: 1.4em;
  background-color: darkred;
  text-align: center;
}

article {
  max-width: 700px;
  margin: 0 auto;
}

/*h1 {
	color: black;
	font-family: "Arial";
}*/


/*h2 {
	color: blue;
	font-family: "avenir"
}*/

h2 {
	color: white;
}

p {
	color: white;
}

header p{
	background-color: darkred;
	text-align: center;
	color: yellow;
}

.socmed {
	color: yellow;
}
.t1 {
	color: white;
	text-align: center;
}

/* header {
	background-image: url("images/IMG_0295.JPG")
}*/

h2 {
	font-family: "roboto", "helvetica", "comic sans ms";
}

.maintext{
	font-family: "avenir";
	text-align: justify;
}

section {
	margin-bottom: 36px;
	padding: 24px;
}




	


