body {
  font-family: Arial;
  line-height: 1.4em;
  background-color: firebrick;
  text-align: center;
}

article {
  max-width: 700px;
  margin: 0 auto;
}

/*h1 {
	color: black;
	font-family: "Arial";
}*/


/*h2 {
	color: blue;
	font-family: "avenir"
}*/

h2 {
	color: white;
}

p {
	color: white;
}

header p{
	background-color: darkred;
	text-align: center;
	color: yellow;
}

.socmed {
	color: yellow;
}

/* header {
	background-image: url("images/IMG_0295.JPG")
}*/

h2 {
	font-family: "roboto", "helvetica", "comic sans ms";
}

.maintext{
	font-family: "avenir";
	text-align: justify;
}

section {
	margin-bottom: 36px;
	padding: 24px;
}

.news-layout {
	margin: 50px;
	border: 50px;
}

.social-media{
	margin: 50px;
}

#relative{
	position: relative;
}

#absolute-top{
	color: white;
	position: absolute;
	top: 1100px;
	left: 600px;
	font-size: 40px;
}

#absolute-bottom{
	color: white;
	position: absolute;
	top: 1150px;
	left: 550px;
	font-size: 40px;
}

	


